{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "ckeditor5",
    "plugin:react/recommended"
  ],
  "globals": {
    "expect": true,
    "sinon": true,
    "shallow": true,
    "mount": true
  },
  "rules": {
    "react/prop-types": "ignore",
    "no-console": "off",
    "max-len": [
      "error",
      140
    ],
    "no-trailing-spaces": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
